body {
    font-family: Arial, sans-serif;
    background:  #f8d8d8;
    text-align: center ;
    padding: 50px;
}
button {
    background-color: #244370;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    text-align: justify;
}
h2 {
    color : #410c03
}
